.root {
  width: 64px;
  height: 64px;
  position: relative;
  background: #000;
  border-radius: 100px;
}

.img {
  background-size: cover;
  background-position: 50% 50%;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  border: 2px solid rgb(94, 59, 229);
}