.root {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.columns {
  display: flex;
  gap: 60px;
}

.link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}

.logout {
  background: transparent;
  border: none;
  color: #8585AD;
  cursor: pointer;
}