
.ingredients {
  max-height: 360px;
  overflow-y: auto;
  padding-right: 24px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}